.pill-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000;
    padding: 8px 12px;
    border-radius: 50px;
    border: 1.5px solid grey;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    font-weight: 500;
    transition: background 0.2s ease, transform 0.1s ease, box-shadow 0.3s ease;
    animation: fadeInScale 0.6s ease-out forwards;
}

.pill-action:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.pill-action:active {
    transform: scale(0.97);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}